<!-- $ID$ -->
.logo {  font-family: Arial, Helvetica, sans-serif; font-size: x-large; font-weight: bold}
td {  font-family: Arial, Helvetica, sans-serif; font-size: smaller}
.footer {  font-size: xx-small; color: #333333; text-decoration: none}
body {  font-family: Arial, Helvetica, sans-serif}

