/* $Id: otmp.css,v 1.1 2001/11/12 19:28:18 alexgn Exp $ */
.logo {  font-family: Arial, Helvetica, sans-serif; font-size: x-large; font-weight: bold}
td {  font-family: Arial, Helvetica, sans-serif; font-size: smaller}
.footer {  font-size: xx-small; color: #333333; text-decoration: none}
body {  font-family: Arial, Helvetica, sans-serif}

.tbl_btn {  font-size: xx-small}
p {  font-family: Arial, Helvetica, sans-serif}
